<p style="color: green"><%= notice %></p>

<%= render @idea %>

<div>
  <%= link_to "編集", edit_idea_path(@idea), class: "btn btn-primary" %> |
  <%= link_to "一覧へ戻る", ideas_path, class: "btn btn-outline-secondary" %>

  

  <div class="card boder border-danger mt-4">
    <div class="card-header">
      このアイデアを削除しますか
    </div>
    <div class="card-body">
      <%= button_to "削除", @idea, method: :delete, class: "btn btn-danger" %> 
    </div>
  </div>
</div>
